<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MoviesDB.Properties.Settings.base_nameConnectionString"
            connectionString="Data Source=DESKTOP-E3QRQSG\SQLEXPRESS;Initial Catalog=base_name;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>